@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "rubiks","Manrope", sans-serif;
  
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}
/* END: General styles */

/* START: Navbar styles*/
.divider{
  @apply w-[2px] bg-[#f2f2f2] h-11 opacity-30 box-border ml-1 mr-6
}
.navbar_container{
  @apply flex items-center justify-between py-4 bg-[#0d0d2b] pt-10
}
/*END: Navbar styles*/

/* START: Hero styles */
.hero {
  @apply  relative z-0 text-[16px] text-white text-left bg-[#0d0d2b] px-12 flex flex-col justify-between items-center h-[850px] sm:flex-row;
}

.hero__title {
  @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold;
}

.hero__subtitle {
  @apply text-[27px] text-[#e0e0e0] font-light mt-5 ;
}


.hero__image {
  @apply relative w-full h-[700px] top-[-50]
}
 
.hero__image-overlay {
  @apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full xl:h-screen h-[590px] overflow-hidden;
}

/* END: Hero styles */


/* START: Footer styles */
.footer {
  @apply flex flex-col bg-color-primary text-xl text-white font-body-small-regular py-4;
}

.footer__top {
  @apply flex flex-col sm:flex-row md:flex-row items-center px-8;
}

.footer__logo-container {
  @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 py-10;
}

.footer__logo {
  @apply relative w-10 h-10;
}

.footer__options {
  @apply flex flex-col text-base leading-[38px] text-gray-6 mix-blend-normal;
}

.footer__links {
  @apply flex flex-col justify-start items-start;
}

.footer__resources {
  @apply flex flex-col;
}

.footer__payments {
  @apply flex flex-col;
}

.footer__bottom {
  @apply flex justify-between items-center flex-wrap mt-10 border-t border-gray-100 sm:px-16 px-6 py-10;
}

.footer__copyright {
  @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
}

.footer__social-icons {
  @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
}

/* Additional styles for better responsiveness */
@media (max-width: 640px) {
  .footer__top {
    @apply flex-col items-center; /* Center items on smaller screens */
  }
  
  .footer__links,
  .footer__resources,
  .footer__payments {
    @apply text-center; /* Center text on smaller screens */
    margin-top: 1rem; /* Add spacing between sections */
  }
}
/* END: Footer styles */

/*START: Navbar section style*/
.logo{
  @apply cursor-pointer font-bold 
}

