.register {
    position: relative;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    font-family: Rubik;
    color: #fff;
    text-align: center;
  }
  .button {
    cursor: pointer;
    border: 0;
    padding: 14px 32px;
    background-color: #3671e9;
    position: absolute;
    top: 0;
    left: 91px;
    border-radius: 32px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .divider {
    top: 13.5px;
    left: 66.5px;
    border-right: 1px solid #f2f2f2;
    box-sizing: border-box;
    width: 1px;
    height: 25px;
    opacity: 0.3;
  }
  .divider,
  .login,
  .signIn {
    position: absolute;
  }
  .login {
    top: 14px;
    left: 0;
    line-height: 150%;
    font-weight: 500;
  }
  .signIn {
    top: 0;
    left: 981px;
    width: 221px;
    height: 52px;
    text-align: center;
  }
  .about,
  .contact,
  .features,
  .products {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 0.01em;
    line-height: 28px;
  }
  .about,
  .contact,
  .features {
    left: 200px;
  }
  .contact,
  .features {
    left: 101px;
  }
  .contact {
    left: 278px;
  }
  .logoIcon,
  .navMenu {
    position: absolute;
    top: 12px;
    left: 586px;
    width: 339px;
    height: 28px;
  }
  .logoIcon {
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
  }
  .crappo {
    position: absolute;
    top: 9px;
    left: 56px;
    letter-spacing: 0.04em;
    font-weight: 600;
  }
  .logo,
  .navbar {
    position: absolute;
    top: 6px;
    left: 0;
    width: 135px;
    height: 40px;
    font-size: 18px;
    font-family: Inter;
  }
  .navbar {
    top: 60px;
    left: 119px;
    width: 1202px;
    height: 52px;
    text-align: left;
    font-size: 16px;
    color: #fff;
    font-family: Rubik;
  }
  @media screen and (max-width: 1200px) {
    .navbar {
      width: 800px;
    }
  }
  